/*Başlık Dekorasyonu*/
#header {
    width: 90vw;
    max-width: 700px;
    background-color: #f4f6e4;
    height: 84px;
    border-radius: 24px 24px 0 0;
    display: flex;
    align-items: center;
    color: #AD9696;
}

#header div{
    flex-grow: 1;
    padding: 24px;
}

#header a{
    text-decoration: none;
    color: #AD9696;
    width: 96px;
    font-size: 16px;
    padding: 12px 24px;
    text-align: center;
}

/*Liste Dekorasyonu*/
#lists {
    background-color: #FFFFFF;
    width: 90vw;
    max-width: 700px;
    flex-grow: 1;
    box-shadow: 0 8px 16px #0000001a;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 12px;
    box-sizing: border-box;
}

.list>li {
    background-color: #FFFFFF;
    margin: 10px 32px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 6px 16px;
}

/*Liste İtemlerinin Kişiselleştirmeleri*/
.todo-label {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

.todo-label input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
}

.md-filled, .md-outline{
    display: flex;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 42px;
    width: 42px;
    font-size: 24px;
    transition: all 0.2s ease-in-out;
    align-items: center;
    justify-content: center;
    color: #915A12
}

.md-filled:hover, .md-outline:hover{
    background-color: #f5f5f5;
}

.todo-label input[type="checkbox"]~span {
    flex-grow: 1;
    padding: 0 20px;
    white-space: wrap;
    transition: 0.5s;
}

.todo-label input[type="checkbox"]~span::before {
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #f1faee;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.todo-label input[type="checkbox"]:checked~span {
    color: #585b57;
    text-decoration: line-through;
}

.delete-button{
    display: flex;
    background-color: #f5f5f5;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 42px;
    width: 42px;
    font-size: 24px;
    transition: all 0.2s ease-in-out;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.list>li:hover .delete-button{
    visibility:visible;
}
.delete-button:hover{
    background-color: #ddd;
}

/*Form Alanı Dekorasyonu*/
.form-container {
    width: 90vw;
    max-width: 700px;
    height: 84px;
    background-color: #d4a373;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 8px 16px #0000001a;
}

.form-container input[type="text"] {
    flex: 1;
    box-sizing: border-box;
    border: none;
    border-radius: 16px;
    -webkit-appearance: none;
    padding: 14px 24px;
    font-size: 18px;
    font-family: sans-serif;
    margin-right: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.form-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FFF;
    color: #d4a373;
    font-size: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    outline: none;
    border: none;
    cursor: pointer;
}


  
  